<body class="stretched BLOG">
<div id="wrapper" class="clearfix">

        

            <% include menu.ejs %>
        

<script type="text/javascript">


var article = <%- JSON.stringify(article) %>;
        console.log(article);
// var popular = <%- JSON.stringify(mostseen) %>;
//         console.log(popular);
</script>
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                   <div class="postcontent nobottommargin clearfix">

						<div class="single-post nobottommargin">

							<!-- Single Post
							============================================= -->
							<div class="entry clearfix">

								<!-- Entry Title
								============================================= -->
								<div class="entry-title">
									<h2><%- article.title %></h2>
								</div><!-- .entry-title end -->

								<!-- Entry Meta
								============================================= -->
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i><%- moment(article.date).format('DD MMMM YYYY') %></li>
									 <% if(article.authors && article.authors.length){%>
										<li><a href="#"><i class="icon-user"></i> <%- article.authors[0].firstname  %></a></li>
									 <%}%>
									<% if(article.categories && article.categories.length){%>
										<li><i class="icon-folder-open"></i>
                                         <% for(var i=0; i< article.categories.length ; i++){%>
											 <a href="blog/category/<%- article.categories[i].id %>/<%- article.categories[i].name %>"><%- article.categories[i].name %></a>
                                             	 <% if(i+1 < article.categories.length){%>
                                             	 		,&nbsp;
                                             	 <%}%>

                                         <%}%>
										</li>
                                    <%}%>
                                    <% if(article.comments && article.comments.length>1){%>
										<li><a href="#"><i class="icon-comments"></i> <%- article.comments.length %> Comments</a></li>
                                    <%}%>
                                    <% if(article.comments && article.comments.length ==1){%>
										<li><a href="#"><i class="icon-comments"></i> <%- article.comments.length %> Comment</a></li>
                                    <%}%>
								</ul><!-- .entry-meta end -->

								<!-- Portfolio Single Gallery
								============================================= -->
								<% if(article.images && article.images.length){%>
								<div class="col_full portfolio-single-image nobottommargin">
									<div class="fslider" data-arrows="true" data-animation="fade">
										<div class="flexslider">
											<div class="slider-wrap">
												<% for(var i=0; i< article.images.length ; i++){%>
												<div class="slide" data-thumb="image/resized2/<%- article.images[i].filename %>"><a href="#"><img src="image/resized/<%- article.images[i].filename %>" alt=""></a></div>
												<%}%>
												<!-- <div class="slide" data-thumb="images/portfolio/single/slider-thumbs/7.jpg"><a href="#"><img src="images/portfolio/single/7.jpg" alt=""></a></div>
												<div class="slide" data-thumb="images/portfolio/single/slider-thumbs/10.jpg"><a href="#"><img src="images/portfolio/single/10.jpg" alt=""></a></div> -->
											</div>
										</div>
									</div>
								</div><!-- .portfolio-single-image end -->
								<%}%>
								<div class="clear bottommargin"></div>
								<!-- Entry Content
								============================================= -->
								<div class="entry-content notopmargin">

									<%- article.content %>

									<!-- Tag Cloud
									============================================= -->
									<% if(article.tags && article.tags.length){%>
									<div class="tagcloud clearfix bottommargin">
										 <% for(var i=0; i< article.tags.length ; i++){%>
											<a href=""><%- article.tags[i].text %></a>
										 	
										 <%}%>
									</div><!-- .tagcloud end -->
									<%}%>

									<div class="clear"></div>

									<!-- Post Single - Share
									============================================= -->
									<div class="si-share noborder clearfix">
										<span><%- __('Share this Post:') %></span>
										<div>
											<a href="#" class="social-icon si-borderless si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
											<a href="#" class="social-icon si-borderless si-twitter">
												<i class="icon-twitter"></i>
												<i class="icon-twitter"></i>
											</a>
											
										</div>
									</div><!-- Post Single - Share End -->

								</div>
							</div><!-- .entry end -->

							



							<!-- Comments
							============================================= -->
							<div id="comments" class="clearfix">

								<h3 id="comments-title">
									
                                    <% if(article.comments && article.comments.length>1){%>
										<span><%- article.comments.length %></span> <%- __('Comments') %></li>
                                    <%}else {%>
										<span><%- article.comments.length %></span> <%- __('Comment') %></li>
                                    <%}%>
								</h3>
								<% if(article.comments && article.comments.length){%>
								<!-- Comments List
								============================================= -->
								<ol class="commentlist clearfix">
									<% for(var i=0; i< article.comments.length ; i++){%>
									 	
									<li class="comment even thread-even depth-1" id="li-comment-<%- i %>">

										<div id="comment-<%- i %>" class="comment-wrap clearfix">

											<!-- <div class="comment-meta">

												<div class="comment-author vcard">

													<span class="comment-avatar clearfix">
													<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>

												</div>

											</div> -->

											<div class="comment-content clearfix">

												<div class="comment-author"><%- article.comments[i].authorName %><span><%- moment(article.comments[i].createdAt).fromNow() %></span></div>

												<p><%- article.comments[i].content %></p>

												<!-- <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a> -->

											</div>

											<div class="clear"></div>

										</div>
										<% if(article.comments[i].responses && article.comments[i].responses.length){%>
										<ul class='children'>
											 <% for(var j=0; j< article.comments[i].responses.length ; j++){%>
											 	
											<li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">

												<div id="comment-3" class="comment-wrap clearfix">

												<!-- 	<div class="comment-meta">

														<div class="comment-author vcard">

															<span class="comment-avatar clearfix">
															<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>

														</div>

													</div> -->

													<div class="comment-content clearfix">

														<div class="comment-author"><a href='#' rel='external nofollow' class='url'><%- article.comments[i].responses[j].authorName %></a><span><%- moment(article.comments[i].responses[j].createdAt).fromNow() %></span></div>

														<p><%-article.comments[i].responses[j].content %></p>

													</div>

													<div class="clear"></div>

												</div>

											</li>
											 <%}%>

										</ul>
									 	<%}%>
									</li>
									 <%}%>

								</ol><!-- .commentlist end -->
                                <%}%>

								<div class="clear"></div>

								<!-- Comment Form
                                ============================================= -->
                                <div id="respond" class="clearfix">
                                    <div id="commentform-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>
                                    <h3><%- __('leave-comment') %></h3>

                                    <form class="clearfix" action="article/<%- article.id %>/addComment" method="post" id="commentform">

                                        <div class="col_one_third">
                                            <label for="author"><%- __('Name') %></label>
                                            <input type="text" name="authorName" id="author" required value="" size="22" tabindex="1" class="sm-form-control" />
                                        </div>

                                        <div class="col_two_third col_last">
                                            <label for="email"><%- __('Email') %></label>
                                            <input type="email" name="email" id="email" required value="" size="22" tabindex="2" class="sm-form-control" />
                                        </div>

                                        <div class="clear"></div>

                                        <div class="col_full">
                                            <label for="comment"><%- __('Message') %></label>
                                            <textarea name="content" cols="58" rows="7" required tabindex="3" class="sm-form-control"></textarea>
                                        </div>

                                        <div class="col_full nobottommargin">
                                            <button type="submit" id="submit-button" tabindex="4" value="Submit" class="button button-3d nomargin"><%- __('Submit') %></button>
                                            <div class="form-process">
                                            	<img src="images/loading_spinner.gif" alt="">
                                            </div>
                                            <div class="errormessageemail"><%- __('Une erreur s\'est produite') %></div>
                                            <div class="successmessageemail"><%- __('Votre commentaire à été envoyé.') %></div>
                                        </div>

                                    </form>

                                </div><!-- #respond end -->
                                <script type="text/javascript">
                                $(function() {
                                    // $('.comment-reply-link').click(function(e) {
                                    // 	console.log('SUBMIT-');
                                    //     e.preventDefault()
                                    //     $(e.currentTarget).parents('.comment').siblings('.comment').find('.respond').fadeOut()
                                    //     console.log(e);
                                    //     console.log(e.currentTarget);
                                    //     console.log($(e.currentTarget).parents('.comment'));
                                    //     console.log($(e.currentTarget).parents('.comment').find('.respond'));
                                    //     $(e.currentTarget).parents('.comment').find('.respond').fadeIn()
                                    //     // $(e.currentTarget).parent().parent().parent().('.respond').fadeIn()
                                    // })

                                    $(".formtovalidate").validate({
                                        submitHandler: function(form) {
                                            $('.successmessageemail').css({'display':'none'});
                                            $('.errormessageemail').css({'display':'none'});
                                            $('.form-process').fadeIn();
                                            $(form).ajaxSubmit({
                                                success: function() {
                                                    $('.form-process').fadeOut();
                                                    $(form).find('.successmessageemail').css({'display':'inline-block'});
                                                },
                                                error: function(e) {
                                                    console.log('e=', e);
                                                   $(form).find('.errormessageemail').css({'display':'inline-block'});
                                                }
                                            });
                                        }
                                    });
                                    $("#commentform").validate({
                                        submitHandler: function(form) {
                                        	console.log('COMMENTFORM');
                                            $('.form-process').fadeIn();
                                            $('.successmessageemail').css({'display':'none'});
                                            $('.errormessageemail').css({'display':'none'});
                                            $(form).ajaxSubmit({
                                                success: function() {
                                                	console.log('successmessageemail');
                                                    $('.form-process').fadeOut();
                                                    $('.successmessageemail').css({'display':'inline-block'});
                                                },
                                                error: function(e) {
                                                    console.log('e=', e);
                                                    $('.errormessageemail').css({'display':'inline-block'});
                                                    // SEMICOLON.widget.notifications($('#contact-form-result-err'));
                                                }
                                            });
                                        }
                                    });
                                });
                                </script>

                            </div><!-- #comments end -->

						</div>

					</div><!-- .postcontent end -->

                   <% include sidebar.ejs %>

                </div>

            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->


    <script type="text/javascript" src="js/front/functions.js"></script>
</body>