

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">



		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<div class="flexiheader">
					
					<div class="logo"><img src="JBM/onepage/images/logo2.png" style="width: 400px;" alt=""></div>
					<!-- <div class="boxtitle">
						<h1 class="">MES CRÉATION</h1>
						<span>Voici quelques unes des mes plus belles pièces</span>
					</div> -->
					<a href="/index2" class="btn btn-primary">Retour Accueil</a>
				</div>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<div id="section-blog" class="page-section">
	
					<h2 class="center uppercase t300 ls3 font-body">Mes prochains rendez-vous</h2>
					<div class="container clearfix">
					<div id="posts" class="events small-thumbs">

						
						 <% for(var i=0; i< articles.length ; i++){%>
						 	
						<div class="entry clearfix">
							<div class="entry-image">
								<a  >
									 <% if(articles[i].images.length){%>
									 
									<img src="image/resized/<%- articles[i].images[0].filename %>" alt="<%- articles[i].images[0].name %>">
									 <%}%>
									 <% if(articles[i].date){%> 
									<div class="entry-date"><%- moment(articles[i].date).format('d') %><span><%- moment(articles[i].date).format('MMM') %></span></div>
									<% } %>
								</a>
							</div>
							<div class="entry-c">
								<div class="entry-title">
									<h2><a  ><%- articles[i].title %></a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li>
										 <% if(articles[i].keyword && (articles[i].keyword == 'public' || articles[i].keyword == 'Public')){%>
											<span class="label label-info">Public</span>
										 <%}%> 
										 <%if(articles[i].keyword && (articles[i].keyword != 'public' || articles[i].keyword != 'Public')){%>
											<span class="label label-warning"><%- articles[i].keyword %></span>
										 <%}%>
									</li>
									<%if(articles[i].description){ %><li><a  ><i class="icon-time"></i> <%- articles[i].description %></a></li><%}%>
									<%if(articles[i].shortcontent){ %><li><a  ><i class="icon-map-marker2"></i><%- articles[i].shortcontent %></a></li><%}%>
								</ul>
								<div class="entry-content">
									<%if(articles[i].content){ %>
										<%- articles[i].content %>
									<%}%>
									<!-- <p> Les 40 exposants attendus qui proviennent principalement de la Marne mais également des départements limitrophes (Ardennes, Aube, Meuse, Aisne …).</p> -->
									<%if(articles[i].rewriteurl){ %>
										<a href="<%- articles[i].rewriteurl %>" class="btn btn-default">Voir le site de l'évènement</a> 
									<%}%>
								</div>
							</div>
						</div>
						 <%}%>

						<div class="entry clearfix">
							<div class="entry-image">
								<a  >
									<img src="JBM/onepage/images/event/salon.jpg" alt="Ducimus ipsam error fugiat harum recusandae">
									<div class="entry-date">21<span>Dec</span></div>
								</a>
							</div>
							<div class="entry-c">
								<div class="entry-title">
									<h2><a  >Salon d'automne des métiers d'art</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><span class="label label-warning">Payant- 5€</span></li>
									<li><a  ><i class="icon-time"></i>16h30 - 20h30 vendredi |  10:00 - 19:00 samedi-dimanche </a></li>
									<li><a  ><i class="icon-map-marker2"></i> Plumecoq, route de Pierry, 51530 Chouilly</a></li>
								</ul>
								<div class="entry-content">
									<p>Entrez dans l’univers des matières nobles et des savoirs-faire. Des objets uniques fabriqués dans l’intimité des ateliers, objets dont la main experte de l’artisan a épousé chaque contour, évalué chaque détail, guidé par son œil aguerri.</p>
									<a href="https://metiersdartchampagne.org/" target="_BLANK" class="btn btn-default">Voir le site de l'évènement</a> 
								</div>
							</div>
						</div>
						
						<div class="entry clearfix">
							<div class="entry-image">
								<a  >
									<img src="JBM/onepage/images/event/littiere.jpg" alt="Chateau de Pernant">
									<div class="entry-date">25<span>Nov</span></div>
								</a>
							</div>
							<div class="entry-c">
								<div class="entry-title">
									<h2><a  >Portes ouvertes Chateau La fleur Plaisance</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><span class="label label-info">Public</span></li>
									<li><a  ><i class="icon-time"></i> Samedi 25 et Dimanche 26 au matin. </a></li>
									<li><a  ><i class="icon-map-marker2"></i> 10 rue du Relais à Oeuilly, Marne</a></li>
								</ul>
								<div class="entry-content">
									<p>Portes ouvertes dans les caves du Champagne Alain Littière <br>Venez nombreux ! </p>
									<a href="http://www.champagne-alain-littiere.com/"  target="_BLANK"  class="btn btn-default">Voir le site de l'évènement</a>
								</div>
							</div>
						</div>
						

					</div>
					</div>
				</div>
				

				<div>

			</div>

		</section><!-- #content end -->

		<% include footer.ejs %>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script  type="text/javascript">
console.log('TOTO');
    
    var articles = <%- JSON.stringify(articles) %>
    console.log(articles);
    //  var mostseen = <%- JSON.stringify(mostseen) %>
    // console.log(mostseen);
    //  var categories = <%- JSON.stringify(categories) %>
    // console.log(categories);
    // var thiscategory = <%- JSON.stringify(thiscategory) %>
    // console.log(thiscategory);
    // var tags = <%- JSON.stringify(tags) %>
   
    console.log(tags);


</script>

</body>
