<body class="stretched">
    <script>
        var globalGraphSettings = {animation : Modernizr.canvas,scaleOverride: true,scaleSteps: 10,scaleStepWidth: 10,scaleStartValue: 0};
    </script>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

       <% include menu.ejs %>
        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Cadets <i class="icon-line2-symbol-male"></i></h1>
                <!-- <div id="portfolio-navigation">
                    <a href="#"><i class="icon-angle-left"></i></a>
                    <a href="#"><i class="icon-line-grid"></i></a>
                    <a href="#"><i class="icon-angle-right"></i></a>
                </div> -->
            </div>

        </section><!-- #page-title end -->

        <!-- Portfolio Single Gallery
        ============================================= -->
        <section id="slider" class="slider-parallax swiper_wrapper clearfix" style="height: 600px;">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url('images/front/volley/ctvb(1-3).jpg');"></div>
                    <div class="swiper-slide" style="background-image: url('images/front/2000x1333.jpg');"></div>
                    <div class="swiper-slide" style="background-image: url('images/front/2000x1333.jpg');"></div>
                </div>
                <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
                <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            </div>

            <script>
                jQuery(document).ready(function($){
                    var swiperSlider = new Swiper('.swiper-parent',{
                        paginationClickable: false,
                        slidesPerView: 1
                    });

                    $('#slider-arrow-left').on('click', function(e){
                        e.preventDefault();
                        swiperSlider.swipePrev();
                    });

                    $('#slider-arrow-right').on('click', function(e){
                        e.preventDefault();
                        swiperSlider.swipeNext();
                    });
                });
            </script>

        </section><!-- .portfolio-single-image end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">
                <div class="container">
                <div class="promo promo-dark promo-flat bottommargin">
                        <h3>Les <span>résultats</span> ainsi que le <span>calendrier des matchs à venirs</span></h3>
                        <span>Sont disponibles sur le site de la ffvb</span>
                        <a href="http://www.ffvbbeach.org/ffvbapp/resu/vbspo_calendrier.php?saison=2015/2016&codent=LIPI&poule=2PF" target="_BLANK" class="button button-dark button-xlarge button-rounded">Voir les résultats</a>
                </div>
                </div>
                
                <div class="container">
                    <% for(var i=0; i< project.players.length ; i++){%>
                    <div class="row common-height clearfix">
                        
                        <% if(i%2 ==0){%>
                            <div class="col-sm-7 col-padding borderr-red" 
                             <% if(project.players[i].images && project.players[i].images.length){%>
                                style="background: url('image/resized2/<%- project.players[i].images[0].filename %>') center center no-repeat; background-size: cover;"
                             <%}else{%>
                                 style="background: url('images/front/volley/ballon.jpg') center center no-repeat; background-size: cover;"
                                
                             <%}%>
                            ></div>
                        <%}%>

                        <div class="col-sm-5 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color"><%- project.players[i].poste %></span>
                                    <h3><%- project.players[i].name %></h3>
                                </div>

                                <div class="row clearfix ">

                                    <div class="col-md-12">
                                        <div class="" id="radarChart<%- i %>" style="opacity: 1;">
                                            <canvas id="radarChartCanvas<%- i %>" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                         <% if(project.players[i].facebook ){%>
                                            <a href="<%- project.players[i].facebook %>" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                                <i class="icon-facebook"></i><i class="icon-facebook"></i>
                                            </a>
                                         <%}%>
                                         <% if(project.players[i].twitter ){%>
                                            <a href="<%- project.players[i].twitter %>" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                                <i class="icon-twitter"></i><i class="icon-twitter"></i>
                                            </a>
                                         <%}%>
                                         <% if(project.players[i].instagram ){%>
                                            <a href="<%- project.players[i].instagram %>" class="social-icon inline-block si-small si-light si-rounded si-instagram">
                                                <i class="icon-instagram"></i><i class="icon-instagram"></i>
                                            </a>
                                         <%}%>
                                         <% if(project.players[i].snapchat ){%>
                                            <a href="<%- project.players[i].snapchat %>" class="social-icon inline-block si-small si-light si-rounded si-snapchat">
                                                <i class="icon-snapchat"></i><i class="icon-snapchat"></i>
                                            </a>
                                         <%}%>
                                        
                                        
                                    </div>


                                </div>

                            </div>

                            <script type="text/javascript">

                            jQuery(window).load( function(){
                                

                                var radarChartData = {
                                    labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                    datasets : [
                                        {
                                            fillColor : "rgba(0,91,150,0.5)",
                                            strokeColor : "rgba(1,31,75,0.5)",
                                            pointColor : "rgba(1,31,75,0.5)",
                                            pointStrokeColor : "#fff",
                                            data : [<%- project.players[i].taille %>,<%- project.players[i].detente %>,<%- project.players[i].attaque %>,<%- project.players[i].contre %>,<%- project.players[i].defence %>,<%- project.players[i].recep %>,<%- project.players[i].passe %>,<%- project.players[i].plongeon %>,<%- project.players[i].service %>,<%- project.players[i].vision %>]
                                        }
                                    ]

                                };



                                function showRadarChart(){
                                    var ctx = document.getElementById("radarChartCanvas<%- i %>").getContext("2d");
                                    new Chart(ctx).Radar(radarChartData,globalGraphSettings);
                                }



                                $('#radarChart<%- i %>').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart,300); },{accX: 0, accY: -155},'easeInCubic');
                                
                                });
                                </script>
                        </div>
                        <% if(i%2 !=0){%>
                            <div class="col-sm-7 col-padding borderr-red" 
                             <% if(project.players[i].images && project.players[i].images.length){%>
                                style="background: url('image/resized2/<%- project.players[i].images[0].filename %>') center center no-repeat; background-size: cover;"
                             <%}else{%>
                                 style="background: url('images/front/volley/ballon.jpg') center center no-repeat; background-size: cover;"
                                
                             <%}%>
                            ></div>
                        <%}%>
                    </div>
                    <%}%>
                    
                    
                </div><!-- container-end -->

                        

                <a class="button button-primary button-full center tright" href="/contact">
                    <div class="container clearfix">
                        On à besoins de toi pour <strong>renforcer l'équipe</strong> <br><i class="icon-caret-right" style="top:4px;"></i> Viens faire <strong> un tour à l'entrainement</strong>
                    </div>
                </a>
                    <div class="clear"></div>

                

                <div class="col-md-12 nopadding common-height ohidden">
                    <div class="col-md-6 col-padding" style="background: url('images/front/volley/coachThierry.jpg') center center no-repeat; background-size: cover;">
                        <div>&nbsp;</div>
                    </div>
                    <div class="col-md-6 col-padding">

                        <div class="clearfix">
                            <h3>Coach : Thierry</h3>

                            <div class="col-sm-9 nopadding topmargin-sm clearfix">

                                <div class="feature-box fbox-outline fbox-light fbox-effect" data-animate="fadeIn">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-cube"></i></a>
                                    </div>
                                    <h3>Rigueur</h3>
                                    <p>Si je ne perd pas de temps. Je jouerais plus de ballon pour un maximum de progression.</p>
                                </div>

                                <div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="200">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-cube"></i></a>
                                    </div>
                                    <h3>Solidité</h3>
                                    <p>2 ou 3 jours de stage pendant les vacances scolaire. Rien de mieux pour progresser vitesse grand V.</p>
                                </div>

                                <div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="400">
                                    <div class="fbox-icon">
                                        <a href="#"><i class="icon-line-target"></i></a>
                                    </div>
                                    <h3>Présision</h3>
                                    <p>Demander à votre coach des exercices à la maison, qui vont faire de vous des champions.</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="clear"></div>
                <div class="section nomargin">
                    <div class="container clearfix">
                        <div class="heading-block center nomargin">
                            <h3>À propos de l'équipe</h3>
                        </div>
                    </div>
                </div>

                <div class=""  style="margin: 20px 0px;font-size: 2em;">
                    <div class="container clearfix">
                        <% if( project.content && project.content){%>
                                <%- project.content %>                        
                        <% } %>  
                    </div>
                </div>
                <div class="clear"></div>

                <div class="section nomargin">
                    <div class="container clearfix">
                        <div class="heading-block center nomargin">
                            <h3>Quelques photos</h3>
                        </div>
                    </div>
                </div>
                <% if( project.images && project.images.length){%>  
                <div class="nomargin masonry-thumbs col-4" data-lightbox="gallery" style="margin-bottom:-80px !important">
                    <% for(var i=0; i<project.images.length; i++) {%>
                    <a href="image/originalSize/<%= project.images[i].filename %>" data-lightbox="gallery-item"><img class="image_fade" src="image/adminThumbs/<%= project.images[i].filename %>" alt="<%= project.images[i].alt %>"></a>
                    <% } %>  
                </div>
                <% } %> 
                

                

            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <!-- // <script type="text/javascript" src="js/functions.js"></script> -->

</body>