  <body class="stretched BLOG no-transition">
<div id="wrapper" class="clearfix">
 <% include menu.ejs %>

  <div class="bandeaunclient anim fadeInLeftBig">
    <div class="container">
      <p><%- __("Ils nous font confiance.") %></p>
      <ul>
        <li><img src="images/logosclients/andros.png" alt=""></li>
        <li><img src="images/logosclients/bondu.png" alt=""></li>
        <li><img src="images/logosclients/bonnemaman.png" alt=""></li>
        <li><img src="images/logosclients/babybio.png" alt=""></li>
        <li><img src="images/logosclients/vitabio.png" alt=""></li>
      </ul>
      
    </div>
  </div>

  <div class="row lastLine">
    <div class="container">
      <div class="col-md-6 contactBox anim fadeInLeftBig">
        <div class="wrapper">
          <h4><%- __('contact-company') %></h4>
          <p><div><%- __('contact-adresse') %></div></p>
          <p><%= __('Phone') %> : <%= __('contact-phone') %></p>
          <p><%= __('Fax') %> : <%= __('contact-fax') %></p>
          <p><%= __('Email') %>  : <a href="mailTo:<%= __('contact-email') %>"><%= __('contact-email') %></a></p>
        </div>
      </div>
      <div class="col-md-6 lastArticleBox anim fadeInrightBig">
        <div id="map_canvas"></div>
      </div>
      <!-- <div class="col-sm-6 lastArticleBox">
        <img src="images/front/400x400/3.jpg" height="400" alt="">
        <h4>Un titre d'article pertinant <small class="pull-right">il y à 3 jours</small></h4>
        <div class="wrapper">
        <div class="pull-right"><a class="btn btn-primary btn-lg " role="button">Lire la suite</a></div>
          <p>Maiores repudiandae porro aliquid sint praesentium numquam quia autem et nesciunt tempora ad dicta, optio rerum voluptates illo distinctio ?</p>
          
        </div>
      </div> -->
    </div>

        

    </div><!-- #wrapper end -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2gWuX7M6arEZzlx_D-UkDUksbnCduZJU"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>