<body class="stretched BLOG no-transition">
<div id="wrapper" class="clearfix">
<% include menu.ejs %>
<section id="page-title" class="">

         
        <div class="container clearfix">
        <h1><%- __('WEBOTHEQUE') %></h1>
        <span><%- __('services-webotheque') %></span>
        <!-- <ol class="breadcrumb"> -->
            <!-- <li><a href="#">Home</a></li> -->
            <!-- <li class="active">Blog</li> -->
        <!-- </ol> -->
        </div>

</section>

<div class="container ">
	
    
	   <% documents.forEach(function(doc){%>
	   	 <% if(doc.slides.length){%>
	   	 
			<div class="boxdocument toggle toggle-border">
				
				<div class="head togglet toggleta">
		   			 <i class="toggle-closed icon-angle-up"></i><i class="toggle-open icon-angle-down"></i> <%- doc.title %>  ( <%- doc.slides.length %> )
		   			
				</div>
			   	<div class="corps togglec">
			   		 <% doc.slides.forEach(function(slide){%>
							<div><span><%- slide.title %></span>


					   		<% slide.documents.forEach(function(docc){%>
					   			<a href="<%- docc.filename %>" class="btndownload" title="<%- docc.name %>">
									<i class="icon-download"></i>
								</a>
					   		 <%});%>
					   		</div>
			   		 <%});%>
			   	</div>
			</div>
	   	
	   	 <%}%>
	   <%});%>



</div>

        

</div><!-- #wrapper end -->
<script type="text/javascript" src="js/functions.js"></script>
   <script type="text/javascript" >
    	
   var documents = <%- JSON.stringify(documents) %>;
        console.log(documents);



    </script>
</body>