

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="col_half hidden-xs nobottommargin">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li><a href="#" data-scrollto="#openingshours"><i class="icon-time"></i> <%- __('Timings') %></a></li>
							<li><a href="#"><i class="icon-phone3"></i> <%- __('+91-800-9876-221') %></a></li>
							<li><a href="#" class="nott"><i class="icon-envelope2"></i> <%- __('emai@email.com') %></a></li>
						</ul>
					</div><!-- .top-links end -->

				</div>

				<div class="col_half col_last fright nobottommargin">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<!-- <li><a href="#">EN</a>
								<ul>
									<li><a href="#"><img src="images/front/icons/flags/french.png" alt="French"> FR</a></li>
									<li><a href="#"><img src="images/front/icons/flags/italian.png" alt="Italian"> IT</a></li>
									<li><a href="#"><img src="images/front/icons/flags/german.png" alt="German"> DE</a></li>
								</ul>
							</li> -->
							<li><a href="#" data-scrollto="#booking-appointment-form" data-offset="100" data-easing="easeInOutExpo" data-speed="1200" class="bgcolor" style="color:#fff;"><%- __('Book an Appointment') %></a></li>
						</ul>
					</div><!-- .top-links end -->

				</div>

			</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="#" data-scrollto="#slider" class="standard-logo"><img src="images/front/LogoMomcilovic.png" alt="Stomatoloska Ordinacija"></a>
						<!-- <a href="#" data-scrollto="#slider" class="retina-logo"><img src="images/front/logox2.png" alt="Stomatoloska Ordinacija"></a> -->
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="style-3">

						<ul>
							<li class="current"><a href="#" data-scrollto="#slider"><div><%- __('menu_home') %></div></a></li>
							<li><a href="#"  data-scrollto="#about"><div><%- __('menu_about') %></div></a></li>
							<li><a href="#"  data-scrollto="#booking-appointment-form"><div><%- __('menu-appointment') %></div></a></li>
							<li><a href="#"  data-scrollto="#doctors"><div><%- __('menu-doctors') %></div></a></li>
							<li><a href="#"  data-scrollto="#page-title"><div><%- __('menu-contact') %></div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="swiper_wrapper full-screen clearfix" data-loop="true" data-autoplay="5000">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background-image: url('medical/images/slider/2.jpg');">
						<div class="container clearfix">
							<div class="slider-caption">
								<h2 data-caption-animate="zoomIn"><%- __('Stomatoloska<span>Ordinacia</span>') %>.</h2>
								<p data-caption-animate="zoomIn" data-caption-delay="500"><%- __('Care for your Loved mouth.') %></p>
							</div>
						</div>
					</div>
					<div class="swiper-slide" style="background-image: url('medical/images/slider/1.jpg');">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-right" style="max-width: 700px;">
								<h2 data-caption-animate="flipInX"><%- __('Team of <span>Experts</span>.') %></h2>
								<p data-caption-animate="flipInX" data-caption-delay="500"><%- __('Our Team of Doctors are specialized in Various Disciplines to make sure you get the Best Treatment.') %></p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon " data-animate="bounceIn">
								<a href="#"><i class="icon-medical-i-dental"></i></a>

								<!-- <a href="#"><img class=" icondental1" href="/images/front/icons/icon1.png" ></a> -->
								
								<!-- <a href="#"><i class="icon-medical-i-cardiology"></i></a> -->
							</div>
							<h3><%- __('Dental Health') %></h3>
							<p><%- __('Dental Health-text') %></p>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="200">
								<a href="#" class="margintopcustom"><span class="iconDental-04">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                </span></a>
								
							</div>
							<h3><%- __('Expert Extraction') %></h3>
							<p><%- __('Expert Extraction-text') %></p>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="400">
								<a href="#"><i class="icon-medical-i-social-services"></i></a>
							</div>
							<h3><%- __('Family Planning') %></h3>
							<p><%- __('Family Planning-text') %></p>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn">
								<a href="#" class="margintopcustom">
									<span class="iconDental-07">
					                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
					                </span>
				            	</a>
							</div>
							<h3><%- __('Orthodentie') %></h3>
							<p><%- __('Orthodentie-text') %></p>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="200">
								<a href="#"><i class="icon-medical-i-imaging-root-category"></i></a>
							</div>
							<h3><%- __('X-Ray Services') %></h3>
							<p><%- __('X-Ray Services-text') %></p>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="400">
								<a href="#" class="margintopcustom"><span class="iconDental-02">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span></a>
							</div>
							<h3><%- __('Dental Implant') %></h3>
							<p><%- __('Dental Implant-text') %></p>
						</div>
					</div>

				</div>


				<div id="about" class="row counters clearfix nobottommargin topmargin-sm common-height">

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-image: url(&quot;http://canvashtml-cdn.semicolonweb.com/demos/medical/images/about-us/counters/1.jpg&quot;); height: 347px;">
						<div>
							<div class="overlay"></div>
							<div style="position: relative; z-index: 1;">
								<i class="i-plain i-xlarge divcenter icon-line2-emoticon-smile"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="99" data-refresh-interval="20" data-speed="2700">99</span>%</div>
								<h5><%- __('Patient satisfied') %></h5>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-image: url(&quot;http://canvashtml-cdn.semicolonweb.com/demos/medical/images/about-us/counters/2.jpg&quot;); height: 347px;">
						<div>
							<div class="overlay"></div>
							<div style="position: relative; z-index: 1;">
								<i class="i-plain i-xlarge divcenter icon-medical-i-imaging-root-category"></i>
								<div class="counter counter-lined"><span data-from="3000" data-to="5623" data-refresh-interval="100" data-speed="2500">5623</span></div>
								<h5><%- __('X-Rays Done') %></h5>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-image: url(&quot;http://canvashtml-cdn.semicolonweb.com/demos/medical/images/about-us/counters/3.jpg&quot;); height: 347px;">
						<div>
							<div class="overlay"></div>
							<div style="position: relative; z-index: 1;">
								<i class="i-plain i-xlarge divcenter icon-line2-graph"></i>
								<div class="counter counter-lined"><span data-from="20" data-to="1408" data-refresh-interval="25" data-speed="3500">1408</span>K</div>
								<h5><%- __('Braces posed') %></h5>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-image: url(&quot;http://canvashtml-cdn.semicolonweb.com/demos/medical/images/about-us/counters/4.jpg&quot;); height: 347px;">
						<div>
							<div class="overlay"></div>
							
							<div style="position: relative; z-index: 1;">
								<i class="i-plain i-xlarge divcenter icon-medical-i-surgery"></i>
								<div class="counter counter-lined"><span data-from="100" data-to="2213" data-refresh-interval="110" data-speed="3500"></span>+</div>
								<h5><%- __('Sucessfull operation') %></h5>
							</div>
						</div>
					</div>

				</div>

				<div class="section notopmargin nobottommargin" style="background: #FFF url('medical/images/1.jpg') right center no-repeat / cover;">

					<div class="visible-sm visible-xs" style="background-color: rgba(238,238,238,0.9); position: absolute; top: 0;left: 0; z-index: 1;width: 100%; height: 100%;"></div>

					<div class="container clearfix">

						<div class="row clearfix">
							<div class="col-md-5" data-lightbox="gallery">
								<div class="heading-block nobottomborder bottommargin-sm">
									<h3 class="nott ls0"><%- __('What We do Actualy') %></h3>
								</div>
								<p><%- __('WhatWeDo-text') %></p>
								<div class="feature-box fbox-plain">
									<div class="fbox-icon fadeIn animated" data-animate="fadeIn">
										<a href="#"><i class="icon-medical-i-womens-health"></i></a>
									</div>
									<p><%- __('WhatWeDo-text-p1') %></p>
								</div>

								<div class="feature-box fbox-plain">
									<div class="fbox-icon fadeIn animated" data-animate="fadeIn">
										<a href="#"><i class="icon-medical-i-ultrasound"></i></a>
									</div>
									<p><%- __('WhatWeDo-text-p2') %></p>
								</div>

								<div class="feature-box fbox-plain bottommargin-sm">
									<div class="fbox-icon fadeIn animated" data-animate="fadeIn">
										<a href="#"><i class="icon-medical-i-cath-lab"></i></a>
									</div>
									<p><%- __('WhatWeDo-text-p3') %></p>
								</div>
							</div>
							<div id="openingshours" class="col-md-4">
								<div class="opening-table">
									<div class="heading-block bottommargin-sm nobottomborder">
										<h4><%- __('Opening Hours') %></h4>
										<!-- <span>Lorem ipsum dolor sit amet, consecte adipisicing elit molestiae non.</span> -->
									</div>
									<div class="time-table-wrap clearfix">
										<div class="time-table clearfix">
											<h5 class="col-md-5"><%- __('Monday') %></h5>
											<span class="col-md-7"><%- __('Monday-hours') %></span>
										</div>
										<div class="time-table clearfix">
											<h5 class="col-md-5"><%- __('Tuesday') %></h5>
											<span class="col-md-7"><%- __('Tuesday-hours') %></span>
										</div>
										<div class="time-table clearfix">
											<h5 class="col-md-5"><%- __('Wednesday') %></h5>
											<span class="col-md-7"><%- __('Wednesday-hours') %></span>
										</div>
										<div class="time-table clearfix">
											<h5 class="col-md-5"><%- __('Thursday') %></h5>
											<span class="col-md-7"><%- __('Thursday-hours') %></span>
										</div>
										<div class="time-table clearfix">
											<h5 class="col-md-5"><%- __('Friday') %></h5>
											<span class="col-md-7"><%- __('Friday-hours') %></span>
										</div>
										<div class="time-table clearfix">
											<h5 class="col-md-5"><%- __('Saturday') %></h5>
											<span class="col-md-7"><%- __('Saturday-hours') %></span>
										</div>
										<div class="time-table clearfix">
											<h5 class="col-md-5"><%- __('Sunday') %></h5>
											<span class="col-md-7 color t600"><%- __('Sunday-hours') %></span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				
				<div class="section nopadding common-height dark notopmargin">
					<div class="col-md-5" data-height-lg="597" data-height-md="614" data-height-sm="400" data-height-xs="300" data-height-xxs="200" style="background: url('medical/images/section-bg.jpg') center center no-repeat; background-size: cover;">
						<div>&nbsp;</div>
					</div>
					<div id="booking-appointment-form" class="col-md-7 nopadding">
						<div class="bgcolor col-padding">
							<h2><%- __('Book an Appointment.') %></h2>
							<p><%- __('Let us know you disponibilities and we call you back to confirm your apointment.') %></p>
							<div id="medical-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>
							<form class="nobottommargin" id="template-medical-form" name="template-medical-form" action="medical/include/appointment.php" method="post">
								<div class="col_two_third">
									<label for="template-medical-name"><%- __('Full name:') %></label>
									<input type="text" id="template-medical-name" name="template-medical-name" class="form-control not-dark required" value="">
								</div>
								<div class="col_one_third col_last">
									<label for="template-medical-phone"><%- __('Phone:') %></label>
									<input type="text" id="template-medical-phone" name="template-medical-phone" class="form-control not-dark required" value="">
								</div>
								<div class="clear"></div>
								<div class="col_two_third">
									<label for="template-medical-email"><%- __('Email Address:') %></label>
									<input type="email" id="template-medical-email" name="template-medical-email" class="form-control not-dark required" value="">
								</div>
								<div class="col_one_third col_last">
									<label for="template-medical-dob"><%- __('Date of Birth:') %></label>
									<input type="text" id="template-medical-dob" name="template-medical-dob" class="form-control not-dark required" value="" placeholder="DD/MM/YYYY">
								</div>
								<div class="clear"></div>
								<div class="col_two_fifth nobottommargin">
									<div class="col_full">
										<label for="template-medical-appoint-date"><%- __('Appointment Date (first wish):') %></label>
										<input type="text" id="template-medical-appoint-date" name="template-medical-appoint-date" class="form-control not-dark required" value="" placeholder="DD/MM/YYYY">
									</div>
									<div class="col_full">
										<label for="template-medical-appoint-date"><%- __('Appointment Date (second wish):') %></label>
										<input type="text" id="template-medical-appoint-date" name="template-medical-appoint-date" class="form-control not-dark required" value="" placeholder="DD/MM/YYYY">
									</div>
									
								</div>
								<div class="col_three_fifth nobottommargin col_last">
									<label for="template-medical-message"><%- __('Message:') %></label>
									<textarea id="template-medical-message" name="template-medical-message" class="form-control not-dark required" cols="30" style="height : 125px;"></textarea>
								</div>
								<div class="clear"></div>
								<div class="col_full hidden">
									<input type="text" name="template-medical-botcheck" value="" />
								</div>
								<div class="col_full nobottommargin">
									<div class="col_two_fifth nobottommargin">
											<label for="template-medical-second-booking"><%- __('Booked with us Before?') %></label><br>
											<label class="rightmargin-sm">
												<input type="radio" id="template-medical-second-booking" name="template-medical-second-booking" value="yes">
												<%- __('Yes') %>
											</label>
											<label>
												<input type="radio" name="template-medical-second-booking" value="no" checked>
												<%- __('No') %>
											</label>
									</div>
									<div class="col_two_fifth nobottommargin">
									<button class="button button-rounded button-white button-light nomargin" type="submit" value="submit"><%- __('Confirm & Send my demmand') %></button>
									</div>
								</div>
								<div class="clear"></div>
							</form>

						</div>
					</div>
				</div>


					


				<div id="doctors" class="container clearfix">
					<div class="heading-block center nobottomborder">
						<h3><%- __('Meet our Team of Specialists') %><span>.</span></h3>
						<span><%- __('We make sure that your Mouth is in Good Hands') %>.</span>
					</div>

					<div id="oc-team" class="owl-carousel team-carousel carousel-widget" data-margin="30" data-nav="true" data-pagi="true" data-items-xxs="1" data-items-xs="2" data-items-md="3" data-items-lg="4">

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/1.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor1-name') %></h4><span><%- __('doctor1-job') %></span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/2.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor2-name') %></h4><span><%- __('doctor2-job') %></span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/3.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor3-name') %></h4><span><%- __('doctor3-job') %></span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/4.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor4-name') %></h4><span><%- __('doctor4-job') %></span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/6.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor5-name') %></h4><span><%- __('doctor5-job') %></span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/7.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor6-name') %></h4><span><%- __('doctor6-job') %></span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/8.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor7-name') %></h4><span><%- __('doctor7-job') %></span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="medical/images/doctors/9.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4><%- __('doctor8-name') %></h4><span><%- __('doctor8-job') %></span></div>
							</div>
						</div>

					</div>

				</div>

			</div>


			<section id="page-title" class="page-title-parallax page-title-dark page-title-center" style="background: url(medical/images/page-title.jpg) 50% 0px / cover; padding: 140px 0px;" data-stellar-background-ratio="0.3">

				<div class="container clearfix" style="z-index: 2">
					<div class="emphasis-title dark nobottommargin">
						<span class="before-heading" style="color: #FFF;"><%- __('emai@email.com') %></span>
						<h2 class="t700 ls0" style="color: #FFF;"><%- __('+91-800-9876-221') %></h2>
					</div>
					<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom&quot;" data-lightbox="iframe"><i class="icon-line-map i-large i-plain dark divcenter"></i></a>
					<span class="t600 ls1 uppercase" style="color: #EEE;"><%- __('adresse') %></span>
				</div>

				<div class="video-overlay" style="background: rgba(216,69,1,0.8); z-index: 1"></div>

			</section>

		</section><!-- #content end -->

