<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <%- include menu.ejs %>

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1><%- __('Infos pratiques') %></h1>
                <span><%- __('Infos pratiques-subtitle') %></span>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">FAQs</li>
                </ol> -->
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
         <section id="content">

            <div class="content-wrap">

                
                <div class="container ">
                    <div class="promo promo-light bottommargin">
                        <h3><%- __('Appler-nous-test') %></h3>
                        <span><%- __('Nous répondons à tout vos email.') %></span>
                        <a href="mailTo:beatrice.nutrimarketing@wanadoo.fr" class="button button-xlarge  button-dark button-rounded"><%- __('Nous écrire') %></a>
                    </div>
                    
                    <div class="fancy-title title-dotted-border title-center">
                        <h3><%- __('Prix public pour le spectacle') %></h3>
                    </div>
                    <div class="pricing bottommargin clearfix">

                        <div class="col-sm-4">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3><%- __('Gratuit') %></h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span>0
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><%- __('Enfants <strong>-12 ans</strong>') %></li>
                                        <li><%- __('Personne Handicapé') %></li>
                                    </ul>
                                </div>
                                <!-- <div class="pricing-action">
                                    <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
                                </div> -->
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="pricing-box best-price">
                                <div class="pricing-title">
                                    <h3 style="color:#005b96"><%- __('Normal') %></h3>
                                    <!-- <span>Most Popular</span> -->
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span><%- __('Prix-Normal') %>
                                </div>
                              <!--   <div class="pricing-features">
                                    <ul> -->
                                        <!-- <li>tout le monde</li> -->
                                        <!-- <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>1000</strong> User Accounts</li>
                                        <li><strong>2 Years</strong> License</li>
                                        <li><i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i></li> -->
                                <!--     </ul>
                                </div> -->
                                <!-- <div class="pricing-action">
                                    <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
                                </div> -->
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3><%- __('Réduit') %></h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span><%- __('Prix-Reduit') %>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><%- __('Jeunes <strong>-20</strong> ans') %></li>
                                        <li><%- __('Senior <strong>+80</strong> ans') %></li>
                                    </ul>
                                </div>
                               <!--  <div class="pricing-action">
                                    <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
                                </div> -->
                            </div>

                        </div>

                    </div>
                    <!-- <p class="center">Nous offrons des tarifs dégressifs pour les inscriptions à partir de la mi-saison. Nous contactez pour plus d'informations.</p> -->
                </div>
                <div class="container topmargin">
                    
                <div class="promo promo-border">
                        <h3><%- __('Télécharger les<span> status </span>de l\'association <span>FlyIn LFBK</span>') %></h3>
                        <!-- <span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span> -->
                        <a href="#" class="button button-xlarge button-rounded"><%- __('Télécharger') %></a>
                </div>
                </div>
                <% if(linkSlideshow && linkSlideshow.slides.length > 0){%>
                    
                <div class="container topmargin bottommargin">
                    <div class="fancy-title title-dotted-border title-center">
                        <h3><%- __('Liens utiles') %></h3>
                    </div>
                    <div class="row clear-bottommargin">
                        <% for(var i=0; (i< linkSlideshow.slides.length && i< 4) ; i++){%>
                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="promo promo-dark promo-mini promo-uppercase  <% if(i%2 ==0){%><%- 'promo-flat' %><%}%>">
                                <h3><%- linkSlideshow.slides[i].content %></h3>
                                <a href="<%- linkSlideshow.slides[i].link1 %>" class="button button-large button-dark button-rounded"><%- __('Aller voir') %></a>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <%}%>
                <div class="promo promo-light promo-full promo-uppercase bottommargin">
                    <div class="container clearfix">
                        <h3><%- __('Appel à cotisation <span>2017</span>') %></h3>
                        <span>
                        <ul>
                            <li><%- __('Membre actif – Cotisation 20 €') %>   </li>
                            <li><%- __('Membre bienfaiteur – Cotisation 50 €') %>   </li>
                            <li><%- __('Membre ultra-généreux – cotisation à discrétion') %>   </li>
                        </ul>         
                        </span>
                        <span><%- __('Ordre : FLYIN LFBK – Château des Etourneaux • 03100 Montluçon') %></span>
                        <a href="#" class="button button-xlarge button-rounded"><%- __('Devenir membre') %></a>
                    </div>
                </div>
                <div class="promo promo-dark promo-full  bottommargin">
                    <div class="container clearfix">
                        <h3><%- __('Newsletter  <span>LFBK</span>') %></h3>
                        <span><%- __('newletter-text') %></span>
                        <a href="#" class="button button-xlarge button-rounded"><%- __('S\'abbonner') %></a>
                    </div>
                </div>
                <div class="container clearfix bottommargin">

                    <div class="fancy-title title-dotted-border title-center">
                        <h3><%- __('Foire aux Questions') %></h3>
                    </div>

                    <!-- <p>Votre questions </p> -->

                    <!-- <div class="divider"><i class="icon-circle"></i></div> -->

                    <div class="col_half nobottommargin">

                        <h4><%- __('FAQ-Title-1') %></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-1-Q-1') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-1-R-1') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-1-Q-2') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-1-R-2') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-1-Q-3') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-1-R-3') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-1-Q-4') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-1-R-4') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-1-Q-5') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-1-R-5') %></div>

                        </div>

                        <h4 class="topmargin"><%- __('FAQ-Title-2') %></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-2-Q-1') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-2-R-1') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-2-Q-2') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-2-R-2') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-2-Q-3') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-2-R-3') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-2-Q-4') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-2-R-4') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-2-Q-5') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-2-R-5') %></div>

                        </div>

                    </div>

                    <div class="col_half nobottommargin col_last">

                        <h4><%- __('FAQ-Title-3') %></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-3-Q-1') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-3-R-1') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-3-Q-2') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-3-R-2') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-3-Q-3') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-3-R-3') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-3-Q-4') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-3-R-4') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-3-Q-5') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-3-R-5') %></div>

                        </div>

                        <h4 class="topmargin"><%- __('FAQ-Title-4') %></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-4-Q-1') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-4-R-1') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-4-Q-2') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-4-R-2') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-4-Q-3') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-4-R-3') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-4-Q-4') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-4-R-4') %></div>
                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i><%- __('FAQ-4-Q-5') %></div>
                            <div class="acc_content clearfix"><%- __('FAQ-4-R-5') %></div>

                        </div>

                    </div>

                </div>
                <div class="container topmargin">
                    <div class="heading-block center  topmargin">
                        <h2><%- __('Notre équipes de Bénévoles') %></h2>
                        <span><%- __('Benevole-text') %></span>
                    </div>
                    <div class="row clear-bottommargin">
                        <% if(beneSlideshow && beneSlideshow.slides.length > 0){%>
                                <% for(var i=0; (i< beneSlideshow.slides.length && i< 4) ; i++){%>
                                <div class="col-md-6 bottommargin">
                                    <div class="team team-list clearfix">
                                        <div class="team-image">
                                             <% if(beneSlideshow.slides[i].images && beneSlideshow.slides[i].images.length){%>
                                                <img src="image/resized/<%- beneSlideshow.slides[i].images[0].filename %>" alt="<%- beneSlideshow.slides[i].title %>">
                                             <%}%>
                                        </div>
                                        <div class="team-desc">
                                            <div class="team-title"><h4><%- beneSlideshow.slides[i].title %></h4><span><%- beneSlideshow.slides[i].btn %></span></div>
                                            <div class="team-content">
                                                <%- beneSlideshow.slides[i].content %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                        <%}%>
                    </div>
                </div>

            </div>

        </section><!-- #content end -->

        <%- include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

     <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="js/front/functions.js"></script>


</body>