<body class="stretched BLOG no-transition">
<div id="wrapper" class="clearfix">
<% include menu.ejs %>
<section id="page-title" class="">

         
        <div class="container clearfix">
        <h1><%- __('Nos services') %></h1>
        <span><%- __('services-subtitle') %></span>
        <!-- <ol class="breadcrumb"> -->
            <!-- <li><a href="#">Home</a></li> -->
            <!-- <li class="active">Blog</li> -->
        <!-- </ol> -->
        </div>

</section>

<div class="presta">
    <div class="container" style="height:100%">
      
	    <div class="row">
	            <div class="triangle2"></div>

	        <div class="col col-sm-6 anim fadeInLeft animated innoicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon ">
	        		
		            <div class="icon-lightbulb"></div>
		            <h3><%- __('service1-title') %></h3>
	        	</div>
	           
	        </div>
	        <div class="col col-sm-6 anim fadeInRight animated inno" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	            <div class="triangle1"></div>
	            <%- __('service1-text') %>
	            

	        </div>
	    </div>
	    <div class="row"> 
	    	<div class="triangle4"></div>   
	        <div class="col col-xs-6 anim fadeInLeft animated strat" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
	    	<div class="triangle3"></div>   
	            
	              <%- __('service2-text') %>
	        </div>   
	        <div class="col col-xs-6 anim fadeInRight animated straticon" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
	        	<div class="headIcon ">
	            	<div class="icon-compass"></div>
	            	<h3><%- __('service2-title') %></h3>
	        	</div>
	        </div>
	    
	    </div>

	    <div class="row"> 
			<div class="triangle6"></div>

	        <div class="col col-xs-12 anim fadeInLeft animated marketicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon">
		            <div class="icon-target"></div>
		            <h3><%- __('service3-title') %></h3>	            
	        	</div>

	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated market" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	           		<div class="triangle5"></div>
	              <%- __('service3-text') %>
	        </div>
	    </div>
	    
	    <div class="row">
	    <div class="triangle8"></div>   

	        <div class="col col-xs-12 anim fadeInLeft animated com" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	            <div class="triangle7"></div>  
	              <%- __('service4-text') %>
	            
	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated comicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	     
	            
	            <div class="headIcon">
	            	<div class="icon-rss"></div>
	            	<h3><%- __('service4-title') %></h3>
	        	</div>
	        </div>

	        
	   </div>
	    
	    <div class="row"> 
	    <div class="triangle10"></div>  
	        <div class="col col-xs-12 anim fadeInLeft animated veilleicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
		            
	            <div class="headIcon">
	            	<div class="icon-moon"></div>
		            <h3><%- __('service5-title') %></h3>
	        	</div>
	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated veille" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	    <div class="triangle9"></div>  
	           
	             <%- __('service5-text') %>
	            
	        </div>
	    </div>
	    
	    <div class="row">   
	    <div class="triangle14"></div>   

	        <div class="col col-xs-12 anim fadeInLeft animated redac" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	    <div class="triangle13"></div>   
	           		
	              <%- __('service6-text') %>
	            
	        </div> 
	        <div class="col col-xs-12 anim fadeInRight animated redacicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon">
		            <div class="icon-doc-text"></div>
		            <h3><%- __('service6-title') %></h3>
	            </div>
	        </div>
	    </div>
	    
	    <div class="row">   
	          		<div class="triangle12"></div>

	        <div class="col col-xs-12 anim fadeInLeft animated conficon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	            <div class="headIcon">
		            <div class="icon-mic"></div>
		            <h3><%- __('service7-title') %></h3>
	        	</div> 
	        </div> 
	        <div class="col col-xs-12 anim fadeInRight animated conf" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	          		<div class="triangle11"></div>
	              <%- __('service7-text') %>
	        </div>
	    </div>
	    
	    <div class="row">  <div class="triangle16"></div> 
	        <div class="col col-xs-12 anim fadeInLeft animated reseau" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	    <div class="triangle15"></div>   
	           	
	              <%- __('service8-text') %>
	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated reseauicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon">
		            <div class="icon-share"></div>
		            <h3><%- __('service8-title') %></h3>
	            </div>
	        </div>
	        
	      </div>



    </div>
</div>

        

</div><!-- #wrapper end -->
    <!-- // <script type="text/javascript" src="js/myscript.js"></script> -->
</body>