<body class="stretched BLOG no-transition">
<div id="wrapper" class="clearfix">
<% include menu.ejs %>
<section id="page-title" class="">

         
        <div class="container clearfix">
        <h1><%- __('pageveille-title') %></h1>
        <span><%- __('pageveille-subtitle') %></span>
        <!-- <ol class="breadcrumb"> -->
            <!-- <li><a href="#">Home</a></li> -->
            <!-- <li class="active">Blog</li> -->
        <!-- </ol> -->
        </div>

</section>

<div class="container ">
	
    
	<p style="margin-top:50px;"><%- __('pageveille-p1') %></p>
    <p><%- __('pageveille-p2') %></p>
    <p><%- __('pageveille-p3') %></p>
    <p><%- __('pageveille-p4') %></p>
    <p><%- __('pageveille-p5') %></p>
    <p><%- __('pageveille-p6') %></p>

	<!-- <a href="http://46.226.104.29:1350/admin" class="btn btn-primary"><%- __('Se connecter') %></a> -->


</div>

        

</div><!-- #wrapper end -->
<script type="text/javascript" src="js/functions.js"></script>
   
</body>